USE [master]
GO
/****** Object:  Database [BeerData]    Script Date: 20/2/2024 2:00:37 PM ******/
CREATE DATABASE [BeerData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BeerData', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BeerData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BeerData_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BeerData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BeerData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BeerData]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 20/2/2024 2:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[idChiTiet] [int] NOT NULL,
	[idDonHang] [int] NULL,
	[idSanPham] [int] NULL,
	[SoLuongChiTiet] [int] NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 20/2/2024 2:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[idDonHang] [int] NOT NULL,
	[tenTK] [varchar](15) NULL,
	[NgayDatHang] [datetime] NULL,
	[TongTienDonHang] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 20/2/2024 2:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[tenTK] [varchar](15) NOT NULL,
	[passTK] [varchar](max) NULL,
	[hotenTK] [nvarchar](255) NULL,
	[ngaySinhTK] [date] NULL,
	[gioiTinhTK] [bit] NULL,
	[sdtTK] [varchar](10) NULL,
	[emailTK] [varchar](100) NULL,
	[diachiTK] [nvarchar](255) NULL,
	[RoleKhachHang] [bit] NULL,
	[hinhTK] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[tenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoiSanXuat]    Script Date: 20/2/2024 2:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoiSanXuat](
	[idNSX] [varchar](20) NOT NULL,
	[tenNSX] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 20/2/2024 2:00:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[idSanPham] [int] IDENTITY(1,1) NOT NULL,
	[tenSanPham] [nvarchar](max) NULL,
	[giaSanPham] [decimal](18, 2) NULL,
	[hinhSanPham] [varchar](max) NULL,
	[soLuongSanPham] [int] NULL,
	[mieuTaSanPham] [nvarchar](max) NULL,
	[nongDoSanPham] [varchar](10) NULL,
	[idNSX] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[KhachHang] ([tenTK], [passTK], [hotenTK], [ngaySinhTK], [gioiTinhTK], [sdtTK], [emailTK], [diachiTK], [RoleKhachHang], [hinhTK]) VALUES (N'philong14410', N'$2a$10$GBki53jTngos1iA3aZY4Cu6kja8Mxd8Zxc5jgKZzP6KMTdIUc0mKK', N'Nguyễn Hồng Phi Ngựa', CAST(N'1998-02-19' AS Date), 1, N'0961354183', N'philong14410@gmail.com', N'Hóc Môn,TP Hồ Chí Minh', 0, N'tri.jpg')
INSERT [dbo].[KhachHang] ([tenTK], [passTK], [hotenTK], [ngaySinhTK], [gioiTinhTK], [sdtTK], [emailTK], [diachiTK], [RoleKhachHang], [hinhTK]) VALUES (N'philongwayne', N'$2a$10$wD/yJK/8n.iV4h/zgXfAtu5khyhUPHB.UI/CwzVU7ngM1Bho5KaUe', N'Nguyễn Hồng Phi Long', CAST(N'1997-02-20' AS Date), 1, N'0961354192', N'philongwayne@gmail.com', N'E10/19A Thới Hoà', 1, N'philong.jpg')
GO
INSERT [dbo].[NoiSanXuat] ([idNSX], [tenNSX]) VALUES (N'BEL', N'Bỉ')
INSERT [dbo].[NoiSanXuat] ([idNSX], [tenNSX]) VALUES (N'GER', N'Đức')
INSERT [dbo].[NoiSanXuat] ([idNSX], [tenNSX]) VALUES (N'MEX', N'Mexico')
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([idSanPham], [tenSanPham], [giaSanPham], [hinhSanPham], [soLuongSanPham], [mieuTaSanPham], [nongDoSanPham], [idNSX]) VALUES (1, N'Thùng bia Sài Gòn Lager 24 Lon x 330ml', CAST(270000.00 AS Decimal(18, 2)), N'sgbeer.jpg', 5, N'Bia Sài Gòn Lager được sản xuất tại Việt Nam từ nước, malt đại mạch, ngũ cốc và hoa bia. Bia Sài Gòn Lager có hương vị đậm đà, thơm ngon, cùng hương thơm ngũ cốc dễ chịu giúp bạn thăng hoa hơn, sản khoái hơn tỏng những cuộc vui cùng gia đình và bạn bè.', N'5.0%', N'VIE')
INSERT [dbo].[SanPham] ([idSanPham], [tenSanPham], [giaSanPham], [hinhSanPham], [soLuongSanPham], [mieuTaSanPham], [nongDoSanPham], [idNSX]) VALUES (2, N'Thùng bia Sài Gòn Premium 24 Lon x 330ml', CAST(290000.00 AS Decimal(18, 2)), N'biasaigondo.jpg', 6, N'Bia Sài Gòn Export Premium Lon 330ml có nồng độ cồn là 4.8% được sản xuất theo quy trình hiện đại với công thức truyền thống lâu đời, mang đến cho người tiêu dùng trải nghiệm thích thú khi thưởng thức.', N'5.0%', N'VIE')
INSERT [dbo].[SanPham] ([idSanPham], [tenSanPham], [giaSanPham], [hinhSanPham], [soLuongSanPham], [mieuTaSanPham], [nongDoSanPham], [idNSX]) VALUES (3, N'Thùng bia Sài Gòn Chill 330ml x 24 Lon', CAST(380000.00 AS Decimal(18, 2)), N'saigonchillbeer.jpg', 10, N'Giới thiệu Bia Saigon Chill được lên men lạnh ở âm 2 độ C, nhiệt độ cực thấp để giữ vị bia luôn tươi mới.  Cảm giác sảng khoái và hậu vị mát lạnh của Bia Saigon Chill sẽ đánh thức mọi giác quan của bạn, để từng ngụm bia đều mang đến sự sảng khoái tức thì, mang trọn vẹn con người bạn về tận hưởng cuộc vui.', N'4.6%', N'VIE')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__212F0AD7F8ACDC7A]    Script Date: 20/2/2024 2:00:38 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[sdtTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__87357634F5530982]    Script Date: 20/2/2024 2:00:38 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[emailTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [soLuongSanPham]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([idDonHang])
REFERENCES [dbo].[DonHang] ([idDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([idSanPham])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([tenTK])
REFERENCES [dbo].[KhachHang] ([tenTK])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([idNSX])
REFERENCES [dbo].[NoiSanXuat] ([idNSX])
GO
USE [master]
GO
